<div style="margin-top: 20px; margin-left: 20px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>Mes CRA</nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>En cours</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Janvier 2022</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="titre">Profil</div>
    <div class="soustitre">
        Vous pouvez renseigner vos demandes de jours de congés dans ce calendrier, un retour vous sera fait une fois ceux-ci envoyés à la direction.
    </div>

    <div class="contenu">
        <div nz-row>
            <div nz-col nzSpan="6" style="height: 100%; background-color: #fff;">
                <ul nz-menu nzMode="inline" style="width: 100%;">
                    <li nz-menu-item (click)="selectionner('profil')" [nzSelected]="profil">
                        Profil
                    </li>
                    <li nz-menu-item (click)="selectionner('apropos')" [nzSelected]="apropos">
                        A propos de vous
                    </li>
                    <li nz-menu-item>
                        Politique de confidentialité
                    </li>
                    <li nz-menu-item>
                        Déconnexion
                    </li>
                </ul>
            </div>
            <div nz-col nzSpan="18">
                <div class="padding" *ngIf="apropos">
                    <div class="petit-titre">
                        A propos de vous
                    </div>
                    <div class="formulaire">
                        <div class="input-group">

                            <label for="">Compétences</label>
                            <nz-select nzMode="tags" nzPlaceHolder="Tag Mode" [(ngModel)]="listOfTagOptions">
                                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </div>
                        <div>
                            <div class="cv">
                                <div class="icone">
                                    <i nz-icon nzType="inbox" nzTheme="outline"></i>
                                </div>
                                <div class="texte">
                                    Vous pouvez importer votre CV ici
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding" *ngIf="profil">
                    <div class="petit-titre">
                        Profil
                    </div>
                    <div class="formulaire">
                        <div nz-row>
                            <div nz-col nzSpan="12">
                                <div class="input-group">
                                    <label for="">Noms</label>
                                    <input nz-input placeholder="Basic usage" style="width: 100%;" />
                                </div>
                                <div class="input-group">
                                    <label for="">Prénoms</label>
                                    <input nz-input placeholder="Basic usage" style="width: 100%;" />
                                </div>
                                <div class="input-group">
                                    <label for="">Identifiant</label>
                                    <input nz-input placeholder="Basic usage" style="width: 100%;" />
                                </div>
                                <div class="input-group">
                                    <label for="">E-mail</label>
                                    <input nz-input placeholder="Basic usage" style="width: 100%;" />
                                </div>
                                <div class="input-group">
                                    <label for="">
                                        Mot de passe
                                        <span class="message">
                                            Changer le mot de passe
                                        </span>
                                    </label>
                                    <input nz-input placeholder="Basic usage" type="password" style="width: 100%;" />
                                </div>
                                <div class="input-group">
                                    <label for="">
                                        Téléphone
                                    </label>
                                    <input nz-input placeholder="Basic usage" style="width: 100%;" />
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <div style="text-align: center;">
                                    <span class="photo">

                                    </span>
                                </div>
                                <div style="text-align: center; margin-top: 40px;">
                                    <button nz-button nzType="default">Changer de photo de profil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>