<div class="bg">
    <div style="margin-top: 20px; margin-left: 20px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Évaluations</nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Auto-évaluations</a>
            </nz-breadcrumb-item>

        </nz-breadcrumb>
        <div class="titre">FOR_04_22_2</div>

    </div>

    <div class="shadow-1 contenu">
        <div class="mi-titre">
            <nz-steps [nzCurrent]="0">
                <nz-step nzTitle="Résumé de la mission"></nz-step>
                <nz-step nzTitle="Objectifs de la mission"></nz-step>
                <nz-step nzTitle="Auto-évaluation"></nz-step>
            </nz-steps>
        </div>
        <div class="contenu-inner" style="font-size: 1.1em;">

            <p>
                <b>

                    Les accès à cette évaluation vous ont été ouverts dans le cadre de votre fin de mission Au cours de
                    cette évaluation,
                    vous serez invité à répondre à plusieurs questions dont les réponses sont prédéfinies ou non.

                </b>
            </p>

            <p>
                L’évaluation se réalisera au travers de 3 thèmes distincts

            </p>
            <div style="margin-left: 0; padding-left: 0;">
                <div>1) Le résumé de la mission</div>
                <div>2) Les objectifs de la mission</div>
                <div>3) L’auto-évaluation</div>
            </div>

            <div style="margin-top: 40px; margin-bottom: 20px;">
                <b>

                    Avant de commencer, veuillez confirmer les informations ci dessous :
                </b>
            </div>


            <p>
                <b>Client</b> : Fortuneo
            </p>
            <p>
                Confirmez-vous le client ?
                <span style="margin-left: 10px;">
                    <input type="radio" name="client" value="1" [(ngModel)]="client"> 
                    <span style="margin-left: 5px;">
                        Oui 
                    </span>
                </span>
                <span style="margin-left: 10px;">
                    <input type="radio" name="client" value="0" [(ngModel)]="client">
                    <span style="margin-left: 5px;">
                        Non 
                    </span>
                </span>
            </p>
            <p *ngIf="client === '0'" style="margin-bottom: 20px">
                <a href="#">
                    <i nz-icon nzType="comment" nzTheme="outline"></i> Ajouter un commentaire
                </a>
            </p>
            <p>
                <b>Mission</b> : Audit interne finance
            </p>
            <p>
                Confirmez-vous la mission ?
                <span style="margin-left: 10px;">
                    <input type="radio" name="mission">
                    <span style="margin-left: 5px;">
                        Oui 
                    </span>
                </span>
                <span style="margin-left: 10px;">
                    <input type="radio" name="mission">
                    <span style="margin-left: 5px;">
                        Non 
                    </span>
                </span>
            </p>
        </div>
        <div class="contenu-boutons" style="">
            <button (click)="resumee()" nz-button nzType="primary">Commencez l'évaluation</button> &nbsp;
            <button nz-button>Enregistrer et finir plus tard</button>
        </div>
    </div>
</div>