<div>
    <div style="margin-top: 20px; margin-left: 20px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Accueil</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="titre">Votre tableau de bord</div>
        <div class="soustitre">
            Retrouvez ici une vue globale de votre espace
        </div>
    </div>

    <div class="contenu">
        <div nz-row>
            <div nz-col nzSpan="6" style="height: 100%; background-color: #fff;">

            </div>
            <div nz-col nzSpan="18">


            </div>
        </div>
    </div>
</div>