<div class="container-fluid" style="margin-top: 16px;">
    <h1>Communities</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus aliquam velit, sed malesuada ligula blandit vel.
    </p>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let community of communities" (click)="edit(community)">
                            <td>{{community.id}}</td>
                            <td>{{community.name}}</td>
                            <td>{{community.type}}</td>
                            <td>{{community.description}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>