.libelle-commentaire {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* Character / Disabled&amp;Placeholder .25 */
    color: rgba(0, 0, 0, 0.25);
}

.bouton-commentaire {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    text-align: center;
    /* Primary/6 */
    color: #F759AB;
}