<app-appbar></app-appbar>
<div class="row gx-0">
    <div class="col-lg-12">
        <div class="app-content">
            <router-outlet>
            </router-outlet>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut arcu ipsum. Suspendisse ornare hendrerit quam ncidunt consectetur.
        </div>
    </div>
</div>