<div class="bg">
    <div style="margin-top: 20px; margin-left: 20px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Consultants</nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Fortuneo</a>
            </nz-breadcrumb-item>

        </nz-breadcrumb>
        <div class="titre">Détails du consultant</div>
        <div class="soustitre">
            Vous pouvez modifier les informations de votre client ici
        </div>
    </div>

    <div style="margin-top: 20px">
        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item (click)="selectionner('aSaisir')" [nzSelected]="aSaisir">
                <span class="menu-design">Global</span>
                <span class="badge">
                    03
                </span>
            </li>
            <li nz-menu-item (click)="selectionner('enAttente')" [nzSelected]="enAttente">
                <span class="menu-design">RH</span>
                <span class="badge">
                    02
                </span>
            </li>
            <li nz-menu-item (click)="selectionner('rejetees')" [nzSelected]="rejetees">
                <span class="menu-design">CRA</span>
                <span class="badge">
                    02
                </span>
            </li>
            <li nz-menu-item (click)="selectionner('validees')" [nzSelected]="validees">
                <span class="menu-design">Factures</span>
                <span class="badge">
                    01
                </span>
            </li>
        </ul>
    </div>

    <div class="contenu">
        <div *ngIf="aSaisir">
            <div style="margin:40px">
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <img src="../../../assets/img/pp.jpg" class="pp" alt="">
                    </div>
                    <div nz-col nzSpan="6">

                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button nzType="primary" style="width: 90%;">
                            <i nz-icon nzType="edit"></i>
                            Editer
                        </button>
                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button style="width: 90%;">
                            <i nz-icon nzType="save" nzTheme="outline"></i>
                            Enregistrer
                        </button>
                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button style="width: 90%;">
                            <i nz-icon nzType="container" nzTheme="outline"></i>
                            Archiver
                        </button>
                    </div>
                </div>
                <div class="contenu-item">
                    <div class="mois">
                        <div class="titre-petit">
                            Identité
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Nom
                                    </div>
                                    <div class="mois-infos-libelle">
                                        Mammou
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Prenom
                                    </div>
                                    <div class="mois-infos-libelle">
                                        Dayan
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Date de naissance
                                    </div>
                                    <div class="mois-infos-libelle">
                                        13/04/1993
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        e-mail
                                    </div>
                                    <div class="mois-infos-libelle">
                                        Dayan.mammou@temeritati.eu
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Téléphone
                                    </div>
                                    <div class="mois-infos-libelle">
                                        06 57 67 98 02
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">

                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Adresse
                                    </div>
                                    <div class="mois-infos-libelle">
                                        12 rue de la poste
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Ville
                                    </div>
                                    <div class="mois-infos-libelle">
                                        Lyon
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">

                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Code postal
                                    </div>
                                    <div class="mois-infos-libelle">
                                        65003
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Pays
                                    </div>
                                    <div class="mois-infos-libelle">
                                        France
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenu-item">
                    <div class="mois">
                        <div class="titre-petit">
                            Identifiants
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Nom d’utilisateur
                                    </div>
                                    <div class="mois-infos-libelle">
                                        Dayan.M
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Mot de passe
                                    </div>
                                    <div class="mois-infos-libelle">
                                        ZOKAJENSB0291
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Fonction
                                    </div>
                                    <div class="mois-infos-libelle">
                                        Interne
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="enAttente">
            <div style="margin:40px">
                <div nz-row>
                    <div nz-col nzSpan="12">

                    </div>
                    <div nz-col nzSpan="10">

                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button nzType="primary" style="width: 90%;">
                            <i nz-icon nzType="edit"></i>
                            Editer
                        </button>
                    </div>
                </div>
                <div class="contenu-item">
                    <div class="mois">
                        <div class="titre-petit">
                            CV et compétences
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        CV
                                    </div>

                                    <p class="mois-infos-libelle">
                                        <button nz-button>
                                            <i nz-icon nzType="upload"></i>
                                            Importer
                                        </button>
                                    </p>
                                    <p class="mois-infos-libelle">
                                        <i nz-icon nzType="link"></i>&nbsp;&nbsp;
                                        <a style="margin-left: 10px; margin-right: 40px;" href="#">CV_DAYAN_MAMMOU_2022.pdf</a>&nbsp;&nbsp;
                                        <i nz-icon nzType="delete"></i>&nbsp;&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Compétences
                                    </div>
                                    <div class="mois-infos-libelle">
                                        <nz-tag nzMode="closeable" [nzColor]="'magenta'">Gestion de projet</nz-tag>
                                        <nz-tag nzMode="closeable" [nzColor]="'magenta'">Tag 2</nz-tag>
                                        <nz-tag nzMode="closeable" [nzColor]="'magenta'">Tag 3</nz-tag>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenu-item">
                    <div class="mois">
                        <div class="titre-petit">
                            Période d’essai
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Date de démarrage
                                    </div>
                                    <div class="mois-infos-libelle">
                                        06/06/2021
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Durée la période d’essai 1
                                    </div>
                                    <div class="mois-infos-libelle">
                                        4 mois
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="mois-infos">
                                    <div class="mois-infos-titre">
                                        Renouvelable
                                    </div>
                                    <div class="mois-infos-libelle">
                                        1 fois
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="rejetees">
            <div style="margin:40px">
                <div style="margin-bottom:20px">
                    <div nz-row>
                        <div nz-col nzSpan="12">

                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" style="width: 90%;">
                                <i nz-icon nzType="container" nzTheme="outline"></i>
                                Archiver
                              </button>
                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button style="width: 90%;">
                                <i nz-icon nzType="download"></i>
                                Télécharger
                              </button>
                        </div>
                        <div nz-col nzSpan="4">
                            <div>
                                <nz-input-group nzSearch [nzAddOnAfter]="prefixTemplateUser">
                                    <input type="text" nz-input placeholder="Rechercher un CRA" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser>
                                    <button nz-button nzType="primary" nzSearch>
                                    <i nz-icon nzType="search"></i>
                                </button>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <div style="margin-left: 20px">
                                <nz-input-group nzSearch [nzSuffix]="prefixTemplateUser2">
                                    <input type="text" nz-input placeholder="Chercher un mois" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser2>

                                    <i nz-icon nzType="calendar" style="color: #F759AB"></i>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <nz-table #sortTable [nzData]="listOfDataValidees" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th style="width: 80px;" [nzChecked]="false"></th>
                            <th *ngFor="let column of listOfColumnCRA" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                <b>
                                    {{ column.title }}
                                </b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sortTable.data">
                            <td style="width: 80px;" [nzChecked]="false"></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.chinese }}</td>
                            <td>{{ data.math }}</td>
                            <td>
                                <a routerLink="/cra/detail">Voir</a> &nbsp; &nbsp;
                                <a href="#">Télécharger</a> &nbsp; &nbsp;
                                <a href="#">Archiver</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div *ngIf="validees">
            <div style="margin:40px">
                <div style="margin-bottom:20px">
                    <div nz-row>
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" style="width: 100%;">
                                Clients
                            </button>
                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button style="width: 100%;">
                                Sous-traitants
                            </button>
                        </div>
                        <div nz-col nzSpan="10">

                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button style="width: 90%;">
                                <i nz-icon nzType="container" nzTheme="outline"></i>
                                Archiver
                            </button>
                        </div>
                        <div nz-col nzSpan="4">
                            <div>
                                <nz-input-group nzSearch [nzAddOnAfter]="prefixTemplateUser">
                                    <input type="text" nz-input placeholder="Rechercher une facture" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser>
                                    <button nz-button nzType="primary" nzSearch>
                                        <i nz-icon nzType="search"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <div style="margin-left: 20px">
                                <nz-input-group nzSearch [nzSuffix]="prefixTemplateUser2">
                                    <input type="text" nz-input placeholder="Chercher un mois" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser2>

                                    <i nz-icon nzType="calendar" style="color: #F759AB"></i>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <nz-table #sortTable [nzData]="listOfDataFacture" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th style="width: 80px;" [nzChecked]="false"></th>
                            <th *ngFor="let column of listOfColumnFacture" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                <b>
                                    {{ column.title }}
                                </b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sortTable.data">
                            <td style="width: 80px;" [nzChecked]="false"></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.chinese }}</td>
                            <td>
                                <span class="">
                                    {{ data.math }}
                                </span>
                            </td>
                            <td>
                                <span class="">
                                    {{ data.math2 }}
                                </span>
                            </td>
                            <td>
                                <a routerLink="/factures/detail">Modifier</a> &nbsp;&nbsp;
                                <a routerLink="/factures/detail">Archiver</a> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>

</div>