<div class="bg">
    <div style="margin-top: 20px; margin-left: 20px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>CRA</nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Toutes</a>
            </nz-breadcrumb-item>

        </nz-breadcrumb>
        <div class="titre">CRA</div>
        <div class="soustitre">
            Retrouvez ici l’ensemble des CRA de vos missions en cours, en attente de validation et autres. Une fois ceux-ci compléter cliquez sur envoyer pour les transmettre à votre manager.
        </div>
    </div>

    <div style="margin-top: 20px">
        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item (click)="selectionner('validees')" [nzSelected]="validees">
                <span class="menu-design">Validées</span>
                <span class="badge">
                    03
                </span>
            </li>
            <li nz-menu-item (click)="selectionner('rejetees')" [nzSelected]="rejetees">
                <span class="menu-design">Rejetées</span>
                <span class="badge">
                    00
                </span>
            </li>
            <li nz-menu-item (click)="selectionner('archivees')" [nzSelected]="archivees">
                <span class="menu-design">
                    Archivées
                </span>
                <span class="badge">
                    03
                </span>
            </li>
        </ul>
    </div>

    <div class="contenu">
        <div *ngIf="aSaisir">
            <div style="margin:40px">
                <div style="margin-bottom:20px">
                    <div nz-row>
                        <div nz-col nzSpan="16">

                        </div>
                        <div nz-col nzSpan="4">
                            <div>
                                <nz-input-group nzSearch [nzAddOnAfter]="prefixTemplateUser">
                                    <input type="text" nz-input placeholder="Rechercher un CRA" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser>
                                    <button nz-button nzType="primary" nzSearch>
                                        <i nz-icon nzType="search"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <div style="margin-left: 20px">
                                <nz-input-group nzSearch [nzSuffix]="prefixTemplateUser2">
                                    <input type="text" nz-input placeholder="Chercher un mois" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser2>

                                    <i nz-icon nzType="calendar" style="color: #F759AB"></i>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th style="width: 80px;" [nzChecked]="false"></th>
                            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                <b>
                                    {{ column.title }}
                                </b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sortTable.data">
                            <td style="width: 80px;" [nzChecked]="false"></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.chinese }}</td>
                            <td>{{ data.math }}</td>
                            <td>
                                <a routerLink="/cra/detail">Modifier</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div *ngIf="enAttente">
            <div style="margin:40px">
                <div style="margin-bottom:20px">
                    <div nz-row>
                        <div nz-col nzSpan="16">

                        </div>
                        <div nz-col nzSpan="4">
                            <div>
                                <nz-input-group nzSearch [nzAddOnAfter]="prefixTemplateUser">
                                    <input type="text" nz-input placeholder="Rechercher un CRA" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser>
                                    <button nz-button nzType="primary" nzSearch>
                                        <i nz-icon nzType="search"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <div style="margin-left: 20px">
                                <nz-input-group nzSearch [nzSuffix]="prefixTemplateUser2">
                                    <input type="text" nz-input placeholder="Chercher un mois" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser2>

                                    <i nz-icon nzType="calendar" style="color: #F759AB"></i>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <nz-table #sortTable [nzData]="listOfDataEnAttente" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th style="width: 80px;" [nzChecked]="false"></th>
                            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                <b>
                                    {{ column.title }}
                                </b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sortTable.data">
                            <td style="width: 80px;" [nzChecked]="false"></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.chinese }}</td>
                            <td>{{ data.math }}</td>
                            <td>
                                <a href="#">Modifier</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div *ngIf="rejetees">
            <div style="margin:40px">
                <div style="margin-bottom:20px">
                    <div nz-row>
                        <div nz-col nzSpan="16">

                        </div>
                        <div nz-col nzSpan="4">
                            <div>
                                <nz-input-group nzSearch [nzAddOnAfter]="prefixTemplateUser">
                                    <input type="text" nz-input placeholder="Rechercher un CRA" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser>
                                    <button nz-button nzType="primary" nzSearch>
                                        <i nz-icon nzType="search"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <div style="margin-left: 20px">
                                <nz-input-group nzSearch [nzSuffix]="prefixTemplateUser2">
                                    <input type="text" nz-input placeholder="Chercher un mois" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser2>

                                    <i nz-icon nzType="calendar" style="color: #F759AB"></i>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <nz-table #sortTable [nzData]="listOfDataEnAttente" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th style="width: 80px;" [nzChecked]="false"></th>
                            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                <b>
                                    {{ column.title }}
                                </b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sortTable.data">
                            <td style="width: 80px;" [nzChecked]="false"></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                -
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div *ngIf="validees">
            <div style="margin:40px">
                <div style="margin-bottom:20px">
                    <div nz-row>
                        <div nz-col nzSpan="12">

                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" style="width: 90%;">
                                <i nz-icon nzType="container" nzTheme="outline"></i>
                                Archiver
                            </button>
                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button style="width: 90%;">
                                <i nz-icon nzType="download"></i>
                                Télécharger
                            </button>
                        </div>
                        <div nz-col nzSpan="4">
                            <div>
                                <nz-input-group nzSearch [nzAddOnAfter]="prefixTemplateUser">
                                    <input type="text" nz-input placeholder="Rechercher un CRA" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser>
                                    <button nz-button nzType="primary" nzSearch>
                                        <i nz-icon nzType="search"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <div style="margin-left: 20px">
                                <nz-input-group nzSearch [nzSuffix]="prefixTemplateUser2">
                                    <input type="text" nz-input placeholder="Chercher un mois" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser2>

                                    <i nz-icon nzType="calendar" style="color: #F759AB"></i>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <nz-table #sortTable [nzData]="listOfDataValidees" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th style="width: 80px;" [nzChecked]="false"></th>
                            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                <b>
                                    {{ column.title }}
                                </b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sortTable.data">
                            <td style="width: 80px;" [nzChecked]="false"></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.chinese }}</td>
                            <td>{{ data.math }}</td>
                            <td>
                                <a routerLink="/cra/detail">Modifier</a> &nbsp; &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div *ngIf="archivees">
            <div style="margin:40px">
                <div style="margin-bottom:20px">
                    <div nz-row>
                        <div nz-col nzSpan="14">

                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" style="width: 90%;">
                                <i nz-icon nzType="download"></i>
                                Télécharger
                            </button>
                        </div>
                        <div nz-col nzSpan="4">
                            <div>
                                <nz-input-group nzSearch [nzAddOnAfter]="prefixTemplateUser">
                                    <input type="text" nz-input placeholder="Rechercher un CRA" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser>
                                    <button nz-button nzType="primary" nzSearch>
                                        <i nz-icon nzType="search"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <div style="margin-left: 20px">
                                <nz-input-group nzSearch [nzSuffix]="prefixTemplateUser2">
                                    <input type="text" nz-input placeholder="Chercher un mois" />
                                </nz-input-group>
                                <ng-template #prefixTemplateUser2>

                                    <i nz-icon nzType="calendar" style="color: #F759AB"></i>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <nz-table #sortTable [nzData]="listOfDataArchivees" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th style="width: 80px;" [nzChecked]="false"></th>
                            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                <b>
                                    {{ column.title }}
                                </b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of sortTable.data">
                            <td style="width: 80px;" [nzChecked]="false"></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.chinese }}</td>
                            <td>{{ data.math }}</td>
                            <td>
                                <a routerLink="/cra/detail">Voir</a> &nbsp; &nbsp;
                                <a href="#">Télécharger</a> &nbsp; &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>

</div>