.titre {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 38px;
    /* identical to box height, or 115% */
    /* Character/Title .85 */
    color: rgba(0, 0, 0, 0.85);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.soustitre {
    /* IBM/regular/16pt */
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: flex-end;
    /* grey 1 */
    color: #747272;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.badge {
    background-color: #ddd;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
    font-weight: 100;
    font-size: 0.9em;
    opacity: 0.5;
}

.menu-design {
    margin-right: 5px;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 400;
}

th {
    font-weight: bold;
}

.attente {
    background: rgba(#FFADD2, 0.125);
    color: #F759AB;
    vertical-align: top;
    margin-left: 20px;
}

.attente2 {
    background: rgba(#FFADD2, 0.125);
    color: #F759AB;
    vertical-align: middle;
    margin-left: 20px;
    border: 0px solid #eee;
}

.contenu {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.mi-titre {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height, or 110% */
    /* Character/Title .85 */
    color: rgba(0, 0, 0, 0.85);
}

.checkbox-design {
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
    &-box {
        margin-right: 10px;
        display: inline-block;
        border: 1px solid #aaa;
        height: 18px;
        text-align: center;
        &-couleur {
            display: inline-block;
            height: 10px;
            width: 10px;
            margin: 3px;
            &.orange {
                background-color: orangered;
            }
            &.bleu {
                background-color: lightseagreen;
            }
        }
    }
}

.ligne {
    position: relative;
    line-height: 65px;
    text-align: center;
    height: 65px;
    &.primaire {
        background-color: #F759AB;
        color: white;
        border-radius: 2px;
    }
    &.grise {
        background: #BBBBBB;
        color: white;
        border-top-left-radius: 10px;
    }
    &.blanche {
        background-color: white;
        color: #747272;
        border-top-left-radius: 10px;
    }
}

.bg {
    background-image: url('../../../assets/img/bg.png');
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    background-attachment: fixed;
}