<div nz-row>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            Nom de la mission
        </div>
        <div class="mission-valeur">
            Audit IT
        </div>
    </div>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            Code mission
        </div>
        <div class="mission-valeur">
            ZOKAJENSB0291
        </div>
    </div>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            Consultant
        </div>
        <div class="mission-valeur">
            <a href="#">Dayan Mammou</a>
        </div>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            Date de début
        </div>
        <div class="mission-valeur">
            02/04/2021
        </div>
    </div>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            Date de fin
        </div>
        <div class="mission-valeur">
            06/04/2022
        </div>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            Contact client
        </div>
        <div class="mission-valeur">
            Marion.Tilam@fortuneo.fr
        </div>
    </div>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            Type de facturation
        </div>
        <div class="mission-valeur">
            Régie
        </div>
    </div>
    <div nz-col nzSpan="8">
        <div class="mission-titre">
            TJ
        </div>
        <div class="mission-valeur">
            600e
        </div>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">

        <div class="mission-titre">
            Description
        </div>
        <p class="mission-valeur">
            Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat
            in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas a
        </p>
    </div>
</div>